@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

.bg-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(0.2);
    z-index: -1;
}

.content {
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.75s ease-in-out;
}

.blur {
    filter: blur(4px);
}

.c-1 {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    align-items: center;
    justify-content: center;
}

.auspicious {
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.auspicious:hover {
    transform: scale(1.1);
    content: '';
    filter: brightness(0.9);
}

.auspicious > img {
    width: 13vw;
    border-radius: 50%;
}

.kelas-container {
    width: 80%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.kelas {
    position: relative;
    width: 15vw;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transition: 0.25s ease-in-out;
}

.kelas > img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.overlay {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    inset: 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    color: gold;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.kelas:hover .overlay {
    opacity: 1;
}

.kelas > img:hover {
    cursor: pointer;
}

.kelas:hover {
    transform: scale(1.1);
    margin-inline: 1rem;
}

.c-3 {
    flex-direction: column;
    gap: 3rem;
    z-index: 1;
    display: none;
}

.vid-con video {
    border-radius: 20px;
    border: solid 4px rgba(255, 255, 255, 0.2);
}

.button-container {
    display: flex;
    margin-inline: auto;
    width: fit-content;
    gap: 10%;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.download-inv,
.copy-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 3% 10%;
    border-radius: 5px;
    border: 2px solid rgb(223, 189, 0);
    transition: 0.25s;
}

.download-inv {
    background-color: rgb(223, 189, 0);
    color: black;
}

.download-inv:hover,
.copy-link:hover {
    transform: scale(1.03);
    filter: brightness(0.9);
}

.back-btn {
    position: absolute;
    top: 10%;
    left: 10%;
    color: gold;
    cursor: pointer;
    width: fit-content;
}

.back-btn > span {
    font-size: 2rem;
    transition: 0.25s;
}

.back-btn:hover > span {
    transform: scale(1.1);
    filter: brightness(0.8);
}

#password-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.invitation {
    width: 60%;
}

.popup-container {
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    display: none;
}

.popup-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 25px;
    padding: 5rem 3.5rem;
    background-color: beige;
}

.title-container {
    text-align: center;
}

.popup-title {
    letter-spacing: 1px;
}

.popup-title > span {
    margin-inline: 0.7rem;
    font-size: 1.2rem;
    color: gold;
    filter: brightness(0.9);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 2.3rem;
}

.logo-container > span {
    font-size: 3rem;
    color: gold;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.image-container > img {
    width: 8rem;
    border-radius: 50%;
}

.close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.3em 0.5em;
    gap: 0.4rem;
}

.form-container * {
    font-size: 0.9rem;
}

.form-container label {
    font-size: 1.6rem;
}

.form-container > input[type='password'] {
    border: none;
    background-color: none;
}

.form-container > input[type='password']:focus {
    border: none;
    outline: none;
}

input[type='submit'] {
    border: none;
    background-color: gold;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

input[type='submit']:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

.sosmed-container {
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    opacity: 0.7;
}

.icon-container {
    display: flex;
    align-items: center;
}

.sosmed-icon {
    width: 35px;
    transition: 0.25s ease-in-out;
}

.sosmed-icon:hover {
    transform: scale(1.2);
    margin-inline: 4px;
}

.icon-container:first-child img {
    width: 30px;
}
